/** ============================================================================
    Group: Objects
    File: Objects
============================================================================= */


/* BASE --------------------------------------------------------------------- */
.headline-1 { font-size: 3.2rem; }
.headline-2 { font-size: 2.8rem; }
.headline-3 { font-size: 2.4rem; }
.headline-4 { font-size: 2.0rem; }
.headline-5 { font-size: 1.6rem; }
.headline-6 { font-size: 1.2rem; }

.text-display {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-display);
}

.text-display-1 { font-size: 6.0rem; }
.text-display-2 { font-size: 4.8rem; }
.text-display-3 { font-size: 3.6rem; }
.text-display-4 { font-size: 2.4rem; }

.overline {
  margin-bottom: var(--space);
  font-weight: var(--font-weight-bold);
}

.caption {
  margin-top: var(--space);
  font-weight: var(--font-weight-regular);
}

.overline,
.caption {
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
}

.text.has-icon {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space);
}

.text-icon {
  height: 2.4rem;
  vertical-align: baseline;
  color: var(--spring-30);
}

.brand { width: 9.6rem; }


/* PAGE --------------------------------------------------------------------- */
html {
  display: flex;
  min-height: 100%;
}

.body { flex-grow: 1; }

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space) var(--space);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 96rem;
  padding: var(--space-xl) var(--space-md) var(--space);
  border-radius: var(--space-sm);
  border: .1rem solid var(--ui-color-60);
  background-color: var(--ui-color-80);
}

.card-content {
  max-width: 64rem;
  margin-top: var(--space-lg);
}

.card-title {
  padding-top: var(--space);
  border-top: .1rem solid var(--ui-color-40);
  color: var(--spring-30);
}

.card-subtitle {
  margin-top: var(--space);
  padding-bottom: var(--space);
  border-bottom: .1rem solid var(--ui-color-40);
  color: var(--spring-30);
}

.card-content .text { margin-top: var(--space); }

.card-section {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.card-section span, .link {
  display: block;
}

.link {
  margin-top: var(--space);
  color: var(--spring-30);
  transition: color 100ms linear;
}

.link:hover { color: var(--spring-50); }

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
}
