/** ============================================================================
    Group: Settings
    File: Settings
============================================================================= */


@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');


/* VARIABLES ---------------------------------------------------------------- */
:root {
  /* TYPOGRAPHY ------------------------------------------------------------- */
  --space: 1.2rem;
  --space-xs: calc(var(--space) / 4);
  --space-sm: calc(var(--space) / 2);
  --space-md: calc(var(--space) * 2);
  --space-lg: calc(var(--space) * 4);
  --space-xl: calc(var(--space) * 5);

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --font-size-df: 1.6rem;
  --font-size-sm: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 3.2rem;

  --font-family-sans: 'Oxygen', sans-serif;
  --font-family-display: 'Libre Franklin', sans-serif;

  --line-height-df: 1.5;
  --line-height-sm: 1;
  --line-height-md: 1.2;
  --line-height-lg: 2;

  /* COLOR PALETTE ---------------------------------------------------------- */
  --ui-color-5:  hsl(216,12%,92%);  /* #e7e9ec | rgb(232,234,237) */
  --ui-color-10: hsl(207,12%,86%);  /* #d6dbdf | rgb(215,220,224) */
  --ui-color-20: hsl(212,12%,72%);  /* #aeb6bf | rgb(175,183,192) */
  --ui-color-30: hsl(209,11%,57%);  /* #85929e | rgb(133,146,157) */
  --ui-color-40: hsl(211,15%,43%);  /* #5d6d7e | rgb(93,109,126) */
  --ui-color-50: hsl(210,29%,29%);  /* #34495e | rgb(53,74,95) */
  --ui-color-60: hsl(210,29%,25%);  /* #2d3f51 | rgb(45,64,82) */
  --ui-color-70: hsl(210,29%,22%);  /* #273747 | rgb(40,56,72) */
  --ui-color-80: hsl(209,28%,19%);  /* #22303d | rgb(35,49,62) */
  --ui-color-90: hsl(209,29%,15%);  /* #1c2833 | rgb(27,39,49) */

  /* COLOR SCHEME ----------------------------------------------------------- */
  --main-background-color: var(--ui-color-90);
  --main-font-color: var(--ui-color-10);
}
