/** ============================================================================
    Group: Trumps
    File: Utils
============================================================================= */


/* UTILS -------------------------------------------------------------------- */
.text-center { text-align: center; }
.text-right { text-align: right; }

.to-uppercase { text-transform: uppercase; }


/* ANIMATIONS --------------------------------------------------------------- */
@keyframes cursor {
  0%   { opacity: 1; }
  33%  { opacity: 0; }
  66%  { opacity: 0; }
  100% { opacity: 1; }
}
