/** ============================================================================
    Project: Mizu CSS
    ----------------------------------------------------------------------------
    @description: Biblioteca CSS para uso pessoal de EdnilsonRobert
    @author: EdnilsonRobert
============================================================================= */

@use './setup/color-palette';
@use './setup/typography';
@use './setup/variables';

@use './base/reset';
@use './base/normalize';

@use './elements/page';

/* END OF FILE ============================================================== */
