// CORES -----------------------------------------------------------------------
$deep-blue: #1b2631;
$slate:     #2e4053;
$snow:      #ebedef;

// TIPOGRAFIA ------------------------------------------------------------------
$monospace:  'Oxygen Mono', monospace;
