// NORMALIZAÇÃO ----------------------------------------------------------------
html {
    font: normal 62.5% $monospace;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    background-color: $snow;
    color: $deep-blue;
}
